body {
  font-size: xx-large;
  margin: 1rem;
}

.App {
  text-align: center;
}

input {
  font-size: xx-large;
  width: 10rem;
}

.retry {
  color: orangered;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

.correct {
  color: green;
  font-weight: bold;
}